*{
    box-sizing: border-box;
    position: relative;
    margin: auto;
}

html,body {
    font-family: Verdana, sans-serif;
    margin:0;
    height: 100vh;
    width: 100vw;
}

#container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

canvas{
    background: transparent;
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    z-index: 1;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 2.77% 63.92%, 4.02% 84.89%, 11.32% 89.12%, 22.75% 84.89%, 35.46% 89.87%, 41.7% 91.54%, 53.86% 85.96%, 65.75% 89.32%, 70.52% 81.24%, 74.3% 82.16%, 78.04% 87.19%, 83.4% 83.07%, 87.17% 76.52%, 94.86% 70.99%, 96.66% 56.99%, 97.32% 45.7%, 94.96% 35.13%, 87.57% 29.8%, 79.58% 30.02%, 70.35% 27.8%, 60.54% 18.96%, 54.71% 17.13%, 50.69% 20.41%, 46.33% 18.96%, 41.87% 17.13%, 32.97% 21.86%, 25.84% 17.13%, 19.08% 21.86%, 11.85% 20.36%, 5.53% 27.84%, 2.77% 37.33%, 4.77% 56.36%, 0% 100%);
}

.mySlides {
    display: none;
    height: 100%;
}
img {
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

/* Slideshow container */
.slideshow-container {
  /* max-width: 1000px; */
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 25px 30px;
  color: #FFDB03;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 50%;
  user-select: none;
  background-color: black;
  z-index: 2;
}

/* Position the "next button" to the right */
.next {
  /* margin-right: -30px; */
  right: 0;
  border-radius: 50%;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}