*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.heart {
    --c: red;
    width: 200px;
    aspect-ratio: 1;
    background:
     radial-gradient(at 70% 31%,var(--c) 29%,#0000 30%),
     radial-gradient(at 30% 31%,var(--c) 29%,#0000 30%),
     conic-gradient(from -45deg at 50% 84%,var(--c) 90deg,#0000 0) 
      bottom/100% 50% no-repeat;
  }